In [88]:
import pandas as pd
import numpy as np
import pyodbc
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import datetime as dt
import seaborn as sns

In [89]:
svr_name = 'KU1ICDDWV011.kunet.ae'
db_name_read = 'CACM'
db_name_write = 'CACMP'
u_name = 'cacm_user'
u_pass = 'Welcome#123'

In [90]:
eng_read = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_read+"?driver=ODBC+Driver+17+for+SQL+Server")
eng_write = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name_write+"?driver=ODBC+Driver+17+for+SQL+Server")

In [91]:
query_pr = "select * from dbo.KU_SRC_BI_KUST_PR"
query_po = "select * from dbo.KU_SRC_BI_KUST_PO"
query_ap = "select * from dbo.KU_SRC_BI_KUST_ap"

In [92]:
pr = pd.read_sql(query_pr, eng_read)
po = pd.read_sql(query_po, eng_read)
ap = pd.read_sql(query_ap, eng_read)

In [93]:
po.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51053 entries, 0 to 51052
Data columns (total 56 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   PO_NUMBER                  51053 non-null  object
 1   AUTHORIZATION_STATUS       51030 non-null  object
 2   PO_TYPE                    51053 non-null  object
 3   ITEM_CATEGORY              51053 non-null  object
 4   ITEM_CATEGORY_DESCRIPTION  51052 non-null  object
 5   ITEM_CODE                  51053 non-null  object
 6   ITEM_DESCRIPTION           114 non-null    object
 7   GL_ENCUMBERED_DATE         51053 non-null  datetime64[ns]
 8   CREATION_DATE              51053 non-null  datetime64[ns]
 9   ENCUMBERED_AMOUNT          44843 non-null  float64
 10  QUANTITY_ORDERED           43068 non-null  float64
 11  REQUISITION_NUM            34746 non-null  object
 12  RATE                       51053 non-null  float64
 13  LINE_NUM                   51053 non-null  float64
 14  DISTRIBUTION_NUM           51053 non-null  float64
 15  UNIT_PRICE                 48590 non-null  float64
 16  VENDOR_ID                  51044 non-null  float64
 17  CLOSED_CODE                50600 non-null  object
 18  ENTITY_CODE                51053 non-null  object
 19  ENTITY_DESCRIPTION         51053 non-null  object
 20  LEDGER_NAME                51053 non-null  object
 21  PROJECT_NUM                22398 non-null  object
 22  PROJECT_NAME               22398 non-null  object
 23  PO_SUBMISION_DATE          50298 non-null  datetime64[ns]
 24  PO_APPROVED_DATE           49193 non-null  datetime64[ns]
 25  PROMISED_DATE              39034 non-null  datetime64[ns]
 26  NEED_BY_DATE               30689 non-null  datetime64[ns]
 27  PO_DESCRIPTION             26459 non-null  object
 28  PO_LINE_DESCRIPTION        51053 non-null  object
 29  PO_BUYER                   51053 non-null  object
 30  COST_CENTER_CODE           51053 non-null  object
 31  COST_CENTER_DESC           51053 non-null  object
 32  BUDGET_CODE                51053 non-null  object
 33  BUDGET_DESC                51053 non-null  object
 34  ACCOUNT_CODE               51053 non-null  object
 35  ACCOUNT_DESC               51053 non-null  object
 36  ACTIVITY_CODE              51053 non-null  object
 37  ACTIVITY_DESC              51053 non-null  object
 38  FUTURE1_CODE               51053 non-null  object
 39  FUTURE1_DESC               51053 non-null  object
 40  FUTURE2_CODE               51053 non-null  object
 41  FUTURE2_DESC               51053 non-null  object
 42  GL_CODE                    51053 non-null  object
 43  GL_DESC                    51053 non-null  object
 44  VENDOR_NUM                 51044 non-null  object
 45  VENDOR_NAME                51044 non-null  object
 46  VENDOR_SITE                51044 non-null  object
 47  CURRENCY_CODE              51053 non-null  object
 48  AMOUNT_ORDERED             51052 non-null  float64
 49  QUANTITY_DELIVERED         51053 non-null  float64
 50  AMOUNT_DELIVERED           50649 non-null  float64
 51  QUANTITY_BILLED            51053 non-null  float64
 52  AMOUNT_BILLED              50552 non-null  float64
 53  QUANTITY_CANCELLED         50503 non-null  float64
 54  AMOUNT_CANCELLED           49331 non-null  float64
 55  VENDOR_COUNTRY             51044 non-null  object
dtypes: datetime64[ns](6), float64(14), object(36)
memory usage: 21.8+ MB

In [94]:
sheet1 = pd.read_excel('Copy of Sourcing (competetive vs. single).xlsx',sheet_name=0)

In [95]:
sheet2 = pd.read_excel('Copy of Sourcing (competetive vs. single).xlsx',sheet_name=1)

In [23]:
S2 = sheet2[['Requisition Number']].drop_duplicates()

In [27]:
S1 = sheet1[['Requisition Number']].drop_duplicates()

In [39]:
po.dropna(subset=['REQUISITION_NUM'],inplace=True)

In [47]:
type(po['REQUISITION_NUM'])

pandas.core.series.Series

In [58]:
po.merge(S2,left_on = 'REQUISITION_NUM',right_on='Requisition Number' )

Empty DataFrame
Columns: [PO_NUMBER, AUTHORIZATION_STATUS, PO_TYPE, ITEM_CATEGORY, ITEM_CATEGORY_DESCRIPTION, ITEM_CODE, ITEM_DESCRIPTION, GL_ENCUMBERED_DATE, CREATION_DATE, ENCUMBERED_AMOUNT, QUANTITY_ORDERED, REQUISITION_NUM, RATE, LINE_NUM, DISTRIBUTION_NUM, UNIT_PRICE, VENDOR_ID, CLOSED_CODE, ENTITY_CODE, ENTITY_DESCRIPTION, LEDGER_NAME, PROJECT_NUM, PROJECT_NAME, PO_SUBMISION_DATE, PO_APPROVED_DATE, PROMISED_DATE, NEED_BY_DATE, PO_DESCRIPTION, PO_LINE_DESCRIPTION, PO_BUYER, COST_CENTER_CODE, COST_CENTER_DESC, BUDGET_CODE, BUDGET_DESC, ACCOUNT_CODE, ACCOUNT_DESC, ACTIVITY_CODE, ACTIVITY_DESC, FUTURE1_CODE, FUTURE1_DESC, FUTURE2_CODE, FUTURE2_DESC, GL_CODE, GL_DESC, VENDOR_NUM, VENDOR_NAME, VENDOR_SITE, CURRENCY_CODE, AMOUNT_ORDERED, QUANTITY_DELIVERED, AMOUNT_DELIVERED, QUANTITY_BILLED, AMOUNT_BILLED, QUANTITY_CANCELLED, AMOUNT_CANCELLED, VENDOR_COUNTRY, Requisition Number]
Index: []

[0 rows x 57 columns]

In [52]:
S1 = S1.astype('object')

In [55]:
S2 = S2.astype('object')

In [68]:
sheet1

,Period Year,Requisition Number,Document Number,Auction Title,Document Type,Buyer Name,Tender Type
0,2021,8472100024,5741007-4,Shifting of Transmission Electron Microscope (...,REQUEST_FOR_QUOTE,Sara Al Ahbabi,Limited Tender
1,2021,8472100024,5741007-5,Shifting of Transmission Electron Microscope (...,REQUEST_FOR_QUOTE,Sara Dashen Nasser Alhallaf Al Ahbabi,Limited Tender
2,2021,8474100181,6319078,CAF-432209: Shifting of SAXS,REQUEST_FOR_QUOTE,Sara Dashen Nasser Alhallaf Al Ahbabi,Single Source
3,2021,8474100069,6332111,CCAL1-432209: New AMC including consumables an...,REQUEST_FOR_QUOTE,Mohammad As'ad Salim Khalil,Single Source
4,2021,8471107563,6335092,INTERNAL AUDIT SERVICES 2021,REQUEST_FOR_QUOTE,Kalappura Asif,Limited Tender
...,...,...,...,...,...,...,...
283,2021,8471109137,6429506,LUX Research Intelligence Service Agreement,REQUEST_FOR_QUOTE,Josilin Anthony,Single Source
284,2021,8433100179,6429507,E-Register system for Abu Dhabi Maritime Acade...,REQUEST_FOR_QUOTE,Josilin Anthony,Single Source
285,2021,8433100182,6430586,Consultancy / financial advisory services for ...,REQUEST_FOR_QUOTE,Josilin Anthony,Limited Tender
286,2021,8433100182,6430586-2,Consultancy / financial advisory services for ...,REQUEST_FOR_QUOTE,Josilin Anthony,Limited Tender
287,2021,8434100147,6439548,XCT_Phoenix nanotom m service agreement for th...,REQUEST_FOR_QUOTE,Josilin Anthony,Single Source

In [124]:
po.merge(S2,left_on ='REQUISITION_NUM',right_on='Requisition Number',how='right' ).to_excel('S2_right.xlsx')

In [98]:
po['REQUISITION_NUM'] = po['REQUISITION_NUM'].str.strip()

In [104]:
S1 = S1.astype('str')

In [107]:
S2 = S2.astype('str')

In [118]:
po.merge(S1,left_on ='REQUISITION_NUM',right_on='Requisition Number',how='right' )

,PO_NUMBER,AUTHORIZATION_STATUS,PO_TYPE,ITEM_CATEGORY,ITEM_CATEGORY_DESCRIPTION,ITEM_CODE,ITEM_DESCRIPTION,GL_ENCUMBERED_DATE,CREATION_DATE,ENCUMBERED_AMOUNT,...,CURRENCY_CODE,AMOUNT_ORDERED,QUANTITY_DELIVERED,AMOUNT_DELIVERED,QUANTITY_BILLED,AMOUNT_BILLED,QUANTITY_CANCELLED,AMOUNT_CANCELLED,VENDOR_COUNTRY,Requisition Number
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8472100024
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8474100181
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8474100069
3,8472106635,APPROVED,STANDARD,94.05,Internal Audit,-,None,2021-04-26 06:35:22,2021-04-26,383815.0,...,AED,383815.0,0.0,383815.0,0.0,383814.0,0.0,NaN,United Arab Emirates,8471107563
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8474100199
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
351,8472107696,APPROVED,STANDARD,7210.1507,Building and facility maintenance and repair s...,-,None,2022-01-24 00:00:00,2021-12-16,190000.0,...,AED,190000.0,0.0,NaN,0.0,NaN,0.0,NaN,United Arab Emirates,8471109158
352,8472107664,APPROVED,STANDARD,0000.0000,Other.Others,-,None,2021-12-09 13:22:13,2021-12-09,318072.1,...,EUR,73800.0,1.0,73800.0,1.0,73800.0,0.0,0.0,United States,8471109137
353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8433100179
354,8433200113,APPROVED,STANDARD,9999.5095,Services.Consultancy Service,-,None,2021-12-19 10:36:19,2021-12-19,477100.0,...,AED,477100.0,0.0,0.0,0.0,0.0,0.0,0.0,United Arab Emirates,8433100182
355,8434200102,APPROVED,STANDARD,92.00,Maintenance Services Contracts,-,None,2022-02-07 13:15:39,2022-02-07,73750.0,...,AED,73750.0,0.0,0.0,0.0,0.0,0.0,0.0,United Arab Emirates,8434100147

In [109]:
po

,PO_NUMBER,AUTHORIZATION_STATUS,PO_TYPE,ITEM_CATEGORY,ITEM_CATEGORY_DESCRIPTION,ITEM_CODE,ITEM_DESCRIPTION,GL_ENCUMBERED_DATE,CREATION_DATE,ENCUMBERED_AMOUNT,...,VENDOR_SITE,CURRENCY_CODE,AMOUNT_ORDERED,QUANTITY_DELIVERED,AMOUNT_DELIVERED,QUANTITY_BILLED,AMOUNT_BILLED,QUANTITY_CANCELLED,AMOUNT_CANCELLED,VENDOR_COUNTRY
0,8431200017,APPROVED,STANDARD,23.01,University Books,-,None,2017-03-07 15:00:02,2017-03-07,470.00,...,DUBAI,AED,470.0,1.0,470.0,1.0,470.0,0.0,0.0,United Arab Emirates
1,8431200017,APPROVED,STANDARD,23.01,University Books,-,None,2017-03-07 15:00:02,2017-03-07,594.00,...,DUBAI,AED,594.0,2.0,594.0,2.0,594.0,0.0,0.0,United Arab Emirates
2,8431200017,APPROVED,STANDARD,23.01,University Books,-,None,2017-03-07 15:00:02,2017-03-07,777.00,...,DUBAI,AED,777.0,5.0,777.0,5.0,777.0,0.0,0.0,United Arab Emirates
3,8431200017,APPROVED,STANDARD,23.01,University Books,-,None,2017-03-07 15:00:02,2017-03-07,2201.50,...,DUBAI,AED,2201.5,5.0,2201.5,5.0,2201.5,0.0,0.0,United Arab Emirates
4,8431200017,APPROVED,STANDARD,23.01,University Books,-,None,2017-03-07 15:00:02,2017-03-07,2543.00,...,DUBAI,AED,2543.0,1.0,2543.0,1.0,2543.0,0.0,0.0,United Arab Emirates
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51048,8472107558,APPROVED,STANDARD,40.31,Laboratory and Testing Equipment and Accessories,-,None,2022-01-23 00:00:00,2021-11-01,734.60,...,CHINA,USD,200.0,0.0,0.0,0.0,0.0,0.0,0.0,China
51049,8472107558,APPROVED,STANDARD,40.31,Laboratory and Testing Equipment and Accessories,-,None,2021-11-01 11:04:28,2021-11-01,NaN,...,CHINA,USD,1330.0,0.0,0.0,0.0,0.0,0.0,0.0,China
51050,8472107558,APPROVED,STANDARD,40.31,Laboratory and Testing Equipment and Accessories,-,None,2022-01-23 00:00:00,2021-11-01,4885.09,...,CHINA,USD,1330.0,0.0,0.0,0.0,0.0,0.0,0.0,China
51051,8472107558,APPROVED,STANDARD,40.31,Laboratory and Testing Equipment and Accessories,-,None,2021-11-01 11:04:34,2021-11-01,NaN,...,CHINA,USD,600.0,0.0,0.0,0.0,0.0,0.0,0.0,China
51052,8472107558,APPROVED,STANDARD,40.31,Laboratory and Testing Equipment and Accessories,-,None,2022-01-23 00:00:00,2021-11-01,2203.80,...,CHINA,USD,600.0,0.0,0.0,0.0,0.0,0.0,0.0,China

In [112]:
S2

    Requisition Number
0           8471107562
1           8433100179
2           8434100147
3           8435100154
5           8435100155
..                 ...
206         8471110479
207         8471110460
208         8471110787
209         8471110620
210         8471110738

[172 rows x 1 columns]