In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
# Download historical stock prices from Yahoo Finance
ticker = "AAPL" # Change to desired stock ticker
start_date = "2020-01-01" # Change to desired start date
end_date = "2022-02-23" # Change to desired end date
stock_data = yf.download(ticker, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [3]:
stock_data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02 00:00:00-05:00,74.059998,75.150002,73.797501,75.087502,73.449394,135480400
2020-01-03 00:00:00-05:00,74.287498,75.144997,74.125000,74.357498,72.735329,146322800
2020-01-06 00:00:00-05:00,73.447502,74.989998,73.187500,74.949997,73.314896,118387200
2020-01-07 00:00:00-05:00,74.959999,75.224998,74.370003,74.597504,72.970093,108872000
2020-01-08 00:00:00-05:00,74.290001,76.110001,74.290001,75.797501,74.143898,132079200
...,...,...,...,...,...,...
2022-02-15 00:00:00-05:00,170.970001,172.949997,170.250000,172.789993,171.749588,62527400
2022-02-16 00:00:00-05:00,171.850006,173.339996,170.050003,172.550003,171.511047,61177400
2022-02-17 00:00:00-05:00,171.029999,171.910004,168.470001,168.880005,167.863129,69589300
2022-02-18 00:00:00-05:00,169.820007,170.539993,166.190002,167.300003,166.292648,82772700
2022-02-22 00:00:00-05:00,164.979996,166.690002,162.149994,164.320007,163.330612,91162800

In [4]:
# Calculate 20-day and 50-day moving averages
stock_data['MA20'] = stock_data['Close'].rolling(window=20).mean()
stock_data['MA50'] = stock_data['Close'].rolling(window=50).mean()

# Define function to execute trade based on cross-over

In [5]:
stock_data

,Open,High,Low,Close,Adj Close,Volume,MA20,MA50
Date,,,,,,,,
2020-01-02 00:00:00-05:00,74.059998,75.150002,73.797501,75.087502,73.449394,135480400,NaN,NaN
2020-01-03 00:00:00-05:00,74.287498,75.144997,74.125000,74.357498,72.735329,146322800,NaN,NaN
2020-01-06 00:00:00-05:00,73.447502,74.989998,73.187500,74.949997,73.314896,118387200,NaN,NaN
2020-01-07 00:00:00-05:00,74.959999,75.224998,74.370003,74.597504,72.970093,108872000,NaN,NaN
2020-01-08 00:00:00-05:00,74.290001,76.110001,74.290001,75.797501,74.143898,132079200,NaN,NaN
...,...,...,...,...,...,...,...,...
2022-02-15 00:00:00-05:00,170.970001,172.949997,170.250000,172.789993,171.749588,62527400,168.975499,172.5192
2022-02-16 00:00:00-05:00,171.850006,173.339996,170.050003,172.550003,171.511047,61177400,169.291499,172.6638
2022-02-17 00:00:00-05:00,171.029999,171.910004,168.470001,168.880005,167.863129,69589300,169.510000,172.6178
2022-02-18 00:00:00-05:00,169.820007,170.539993,166.190002,167.300003,166.292648,82772700,169.754500,172.4622
2022-02-22 00:00:00-05:00,164.979996,166.690002,162.149994,164.320007,163.330612,91162800,169.889500,172.2574

In [6]:
def execute_trade(row):
    if row['MA20'] > row['MA50']:
        # Buy if 20-day moving average crosses above 50-day moving average
        row['Position'] = 1
        row['Entry Price'] = row['Close']
    elif row['MA20'] < row['MA50']:
        # Sell if 20-day moving average crosses below 50-day moving average
        row['Position'] = -1
        row['Entry Price'] = row['Close']
    return row

# Apply function to each row of stock data
stock_data = stock_data.apply(execute_trade, axis=1)

In [7]:
stock_data

,Adj Close,Close,Entry Price,High,Low,MA20,MA50,Open,Position,Volume
Date,,,,,,,,,,
2020-01-02 00:00:00-05:00,73.449394,75.087502,NaN,75.150002,73.797501,NaN,NaN,74.059998,NaN,135480400.0
2020-01-03 00:00:00-05:00,72.735329,74.357498,NaN,75.144997,74.125000,NaN,NaN,74.287498,NaN,146322800.0
2020-01-06 00:00:00-05:00,73.314896,74.949997,NaN,74.989998,73.187500,NaN,NaN,73.447502,NaN,118387200.0
2020-01-07 00:00:00-05:00,72.970093,74.597504,NaN,75.224998,74.370003,NaN,NaN,74.959999,NaN,108872000.0
2020-01-08 00:00:00-05:00,74.143898,75.797501,NaN,76.110001,74.290001,NaN,NaN,74.290001,NaN,132079200.0
...,...,...,...,...,...,...,...,...,...,...
2022-02-15 00:00:00-05:00,171.749588,172.789993,172.789993,172.949997,170.250000,168.975499,172.5192,170.970001,-1.0,62527400.0
2022-02-16 00:00:00-05:00,171.511047,172.550003,172.550003,173.339996,170.050003,169.291499,172.6638,171.850006,-1.0,61177400.0
2022-02-17 00:00:00-05:00,167.863129,168.880005,168.880005,171.910004,168.470001,169.510000,172.6178,171.029999,-1.0,69589300.0
2022-02-18 00:00:00-05:00,166.292648,167.300003,167.300003,170.539993,166.190002,169.754500,172.4622,169.820007,-1.0,82772700.0
2022-02-22 00:00:00-05:00,163.330612,164.320007,164.320007,166.690002,162.149994,169.889500,172.2574,164.979996,-1.0,91162800.0

In [8]:
# Initialize variables for tracking trades
position = 0
entry_price = 0
stop_loss = 0.05 # Change to desired stop-loss percentage
take_profit = 0.1 # Change to desired take-profit percentage

In [9]:
# Define function to calculate trade outcomes
def calculate_outcome(row):
    global position, entry_price
    if row['Position'] != position:
        # Close existing position if cross-over occurs
        if position == 1:
            # Sell if position is long
            row['Exit Price'] = row['Close']
            row['Outcome'] = (row['Exit Price'] - entry_price) / entry_price
            if row['Outcome'] < -stop_loss:
                # Set stop loss order if trade is losing
                row['Exit Price'] = entry_price * (1 - stop_loss)
                row['Outcome'] = -stop_loss
            elif row['Outcome'] > take_profit:
                # Set take-profit order if trade is winning
                row['Exit Price'] = entry_price * (1 + take_profit)
        elif position == -1:
            # Buy if position is short
            row['Exit Price'] = row['Close']
            row['Outcome'] = (entry_price - row['Exit Price']) / entry_price
            if row['Outcome'] < -stop_loss:
                # Set stop loss order if trade is losing
                row['Exit Price'] = entry_price * (1 + stop_loss)
                row['Outcome'] = -stop_loss
            elif row['Outcome'] > take_profit:
                # Set take-profit order if trade is winning
                row['Exit Price'] = entry_price * (1 - take_profit)
        position = row['Position']
        entry_price = row['Entry Price']
    return row

In [10]:
# Apply function to each row of stock data
stock_data = stock_data.apply(calculate_outcome, axis=1)

In [11]:
stock_data

,Adj Close,Close,Entry Price,Exit Price,High,Low,MA20,MA50,Open,Outcome,Position,Volume
Date,,,,,,,,,,,,
2020-01-02 00:00:00-05:00,73.449394,75.087502,NaN,NaN,75.150002,73.797501,NaN,NaN,74.059998,NaN,NaN,135480400.0
2020-01-03 00:00:00-05:00,72.735329,74.357498,NaN,NaN,75.144997,74.125000,NaN,NaN,74.287498,NaN,NaN,146322800.0
2020-01-06 00:00:00-05:00,73.314896,74.949997,NaN,NaN,74.989998,73.187500,NaN,NaN,73.447502,NaN,NaN,118387200.0
2020-01-07 00:00:00-05:00,72.970093,74.597504,NaN,NaN,75.224998,74.370003,NaN,NaN,74.959999,NaN,NaN,108872000.0
2020-01-08 00:00:00-05:00,74.143898,75.797501,NaN,NaN,76.110001,74.290001,NaN,NaN,74.290001,NaN,NaN,132079200.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-15 00:00:00-05:00,171.749588,172.789993,172.789993,NaN,172.949997,170.250000,168.975499,172.5192,170.970001,NaN,-1.0,62527400.0
2022-02-16 00:00:00-05:00,171.511047,172.550003,172.550003,NaN,173.339996,170.050003,169.291499,172.6638,171.850006,NaN,-1.0,61177400.0
2022-02-17 00:00:00-05:00,167.863129,168.880005,168.880005,NaN,171.910004,168.470001,169.510000,172.6178,171.029999,NaN,-1.0,69589300.0
2022-02-18 00:00:00-05:00,166.292648,167.300003,167.300003,NaN,170.539993,166.190002,169.754500,172.4622,169.820007,NaN,-1.0,82772700.0
2022-02-22 00:00:00-05:00,163.330612,164.320007,164.320007,NaN,166.690002,162.149994,169.889500,172.2574,164.979996,NaN,-1.0,91162800.0

In [12]:
# Calculate cumulative returns
stock_data['Cumulative Returns'] = (1 + stock_data['Outcome']).cumprod()

In [13]:
stock_data

,Adj Close,Close,Entry Price,Exit Price,High,Low,MA20,MA50,Open,Outcome,Position,Volume,Cumulative Returns
Date,,,,,,,,,,,,,
2020-01-02 00:00:00-05:00,73.449394,75.087502,NaN,NaN,75.150002,73.797501,NaN,NaN,74.059998,NaN,NaN,135480400.0,NaN
2020-01-03 00:00:00-05:00,72.735329,74.357498,NaN,NaN,75.144997,74.125000,NaN,NaN,74.287498,NaN,NaN,146322800.0,NaN
2020-01-06 00:00:00-05:00,73.314896,74.949997,NaN,NaN,74.989998,73.187500,NaN,NaN,73.447502,NaN,NaN,118387200.0,NaN
2020-01-07 00:00:00-05:00,72.970093,74.597504,NaN,NaN,75.224998,74.370003,NaN,NaN,74.959999,NaN,NaN,108872000.0,NaN
2020-01-08 00:00:00-05:00,74.143898,75.797501,NaN,NaN,76.110001,74.290001,NaN,NaN,74.290001,NaN,NaN,132079200.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-15 00:00:00-05:00,171.749588,172.789993,172.789993,NaN,172.949997,170.250000,168.975499,172.5192,170.970001,NaN,-1.0,62527400.0,NaN
2022-02-16 00:00:00-05:00,171.511047,172.550003,172.550003,NaN,173.339996,170.050003,169.291499,172.6638,171.850006,NaN,-1.0,61177400.0,NaN
2022-02-17 00:00:00-05:00,167.863129,168.880005,168.880005,NaN,171.910004,168.470001,169.510000,172.6178,171.029999,NaN,-1.0,69589300.0,NaN
2022-02-18 00:00:00-05:00,166.292648,167.300003,167.300003,NaN,170.539993,166.190002,169.754500,172.4622,169.820007,NaN,-1.0,82772700.0,NaN
2022-02-22 00:00:00-05:00,163.330612,164.320007,164.320007,NaN,166.690002,162.149994,169.889500,172.2574,164.979996,NaN,-1.0,91162800.0,NaN

In [ ]:
# Print final portfolio statistics
print("Total trades:", stock_data['Outcome'].count())
print("Winning trades:", (stock_data['Outcome'] > 0).sum())
print

In [ ]:
stock_data