In [1]:
import pandas as pd
import numpy as np
import pyodbc
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

In [2]:
svr_name = 'KU1ICDDWV011.kunet.ae'
db_name = 'CACM'
u_name = 'cacm_user'
u_pass = 'Welcome#123'

In [3]:
eng = create_engine("mssql+pyodbc://"+u_name+":"+u_pass+"@"+svr_name+"/"+db_name+"?driver=ODBC+Driver+17+for+SQL+Server")

In [4]:
query_payroll = "select * from ADERP.dbo.KU_Payroll_All"
query_basic_info = "select * from ADERP.dbo.XXDOF_BI_KU_Emp_Basic_Info_T"
query_payroll_T =  "select * from ADERP.dbo.XXDOF_BI_KU_PAYROLL_T"

In [5]:
payroll = pd.read_sql(query_payroll, eng)
info = pd.read_sql(query_basic_info, eng)
payroll_t = pd.read_sql(query_payroll_T, eng)

In [17]:
def pay_emp(Emp):
    
    result = payroll[payroll['EmployeeNumber'] == Emp].sort_values(['PayYear','PayMonthNum'],ascending=[False,False])
    
    return result

In [18]:
pay_emp('KU501')

,EmployeeNumber,PersonID,EmployeeGrade,PayYear,PayMonth,PayMonthNum,PayrollName,Basic,CoLA,MarketDiff,Vacation,ChildAllow,AdminStipend,ActingAllow,OtherLegacy,Gross
40951,KU501,625325.0,KU14,2021,JUN,6,KU Monthly Payroll,0,0,0,0,0,0,0,0.0,0.00
44901,KU501,625325.0,KU14,2021,MAY,5,KU Monthly Payroll,0,0,0,0,0,0,0,0.0,0.00
46994,KU501,625325.0,KU14,2021,APR,4,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
42731,KU501,625325.0,KU14,2021,MAR,3,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
44900,KU501,625325.0,KU14,2021,FEB,2,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
40950,KU501,625325.0,KU14,2021,JAN,1,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
42728,KU501,625325.0,KU14,2020,DEC,12,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
40949,KU501,625325.0,KU14,2020,NOV,11,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
42729,KU501,625325.0,KU14,2020,OCT,10,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
42730,KU501,625325.0,KU14,2020,SEP,9,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
46992,KU501,625325.0,KU14,2020,AUG,8,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
73713,KU501,625325.0,KU14,2020,JUL,7,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
44899,KU501,625325.0,KU14,2020,JUN,6,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
46993,KU501,625325.0,KU14,2020,MAY,5,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
44898,KU501,625325.0,KU14,2020,APR,4,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
42997,KU501,625325.0,KU14,2020,MAR,3,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
47650,KU501,625325.0,KU14,2020,FEB,2,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
48884,KU501,625325.0,KU14,2020,JAN,1,KU Monthly Payroll,15784,22887,0,1315,0,0,0,0.0,39986.00
42727,KU501,625325.0,KU14,2019,DEC,12,KU Monthly Payroll,14348.68,20806,0,1196,0,0,0,0.0,36350.68
47649,KU501,625325.0,KU14,2019,NOV,11,KU Monthly Payroll,14348.68,20806,0,1196,0,0,0,0.0,36350.68
40947,KU501,625325.0,KU14,2019,OCT,10,KU Monthly Payroll,14348.68,20806,0,1196,0,0,0,0.0,36350.68
40948,KU501,625325.0,KU14,2019,SEP,9,KU Monthly Payroll,14348.68,20806,0,1196,0,0,0,0.0,36350.68
47648,KU501,625325.0,KU14,2019,AUG,8,KU Monthly Payroll,14348.68,20806,0,1196,0,0,0,0.0,36350.68
40946,KU501,625325.0,KU14,2019,JUL,7,KU Monthly Payroll,14348.68,20806,0,1196,0,0,0,0.0,36350.68
48883,KU501,625325.0,11 National Administration,2019,JUN,6,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
40945,KU501,625325.0,11 National Administration,2019,MAY,5,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
48882,KU501,625325.0,11 National Administration,2019,APR,4,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
42726,KU501,625325.0,11 National Administration,2019,MAR,3,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
73712,KU501,625325.0,11 National Administration,2019,FEB,2,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
44897,KU501,625325.0,11 National Administration,2019,JAN,1,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
48880,KU501,625325.0,11 National Administration,2018,DEC,12,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
42996,KU501,625325.0,11 National Administration,2018,NOV,11,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
46990,KU501,625325.0,11 National Administration,2018,OCT,10,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
46991,KU501,625325.0,11 National Administration,2018,SEP,9,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
42995,KU501,625325.0,11 National Administration,2018,AUG,8,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
40944,KU501,625325.0,11 National Administration,2018,JUL,7,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
42725,KU501,625325.0,11 National Administration,2018,JUN,6,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
73711,KU501,625325.0,11 National Administration,2018,MAY,5,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
42724,KU501,625325.0,11 National Administration,2018,APR,4,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
46989,KU501,625325.0,11 National Administration,2018,MAR,3,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
48881,KU501,625325.0,11 National Administration,2018,FEB,2,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00
46988,KU501,625325.0,11 National Administration,2018,JAN,1,KU Monthly Payroll,11345,0,0,0,0,0,0,25005.0,36350.00